<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <title>手写数字识别</title>
    </head>
     <link rel="stylesheet" href="static/css/index.css" type="text/css" />

    <body>
        <div id="topdiv" style="width:100%; height:70px; overflow:hidden;">
        <h2>手写数字识别系统</h2>
        </div>

        <canvas id="canvas" width="512px" height="512px"></canvas>

        <br />
        <div id="outForm">
            <form >
            粗细选择：
                <select class="sel" name="size" id="size" width="55px">
                    <option value="15">15</option>
                    <option value="17">17</option>
                    <option value="19">19</option>
                    <option value="21">21</option>
                    <option value="23">23</option>
                    <option value="25">25</option>
                </select>
            &nbsp;&nbsp;&nbsp;&nbsp;
            生成大小:
                <select class="sel" id="pixelSize"width="75px">
                    <option value="28">28*28</option>
                    <option value="32">32*32</option>
                    <option value="64">64*64</option>
                    <option value="128">128*128</option>
                    <option value="256">256*256</option>
                    <option value="512">512*512</option>
                </select>
                <br />
                <input type="button" class="btn" id="clear_bt" value="清除" onclick="clearCanvas()">
                &nbsp;&nbsp;
                <input type="button" class="btn" id="predict_bt" value="识别" onclick="recognizeNum()">
                <br />
                <input type="text" class="hint" id="hint" value="结果:">
                &nbsp;&nbsp;
                <input type="button" id="result_bt"  value="_____">
            </form>
        </div>

    </body>

<script src="{{static_url('js/index.js')}}"></script>
</html>

