<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>聊天界面</title>
  </head>

  <body>
    <div id="contents" style="width:500px;height:500px;overflow:auto"></div> 

    <div>
      <input type="text" id="message"/>
      <button onclick="sendMessage()">发送</button>
    </div>

    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      // 建立websocket连接
      var ws = new WebSocket("ws://127.0.0.7:8000/chat");
      //服务器返回数据回去之后要接收数据
      //向div里面添加<p>标签
      ws.onmessage = function (e) {
        $('#contents').append("<p>"+e.data+"</p>");
      }

      function sendMessage() {
        var message = $('#message').val();
        ws.send(message);
        $('#message').val("");
      }
    </script>
    </body>
  </html>
