<!DOCTYPE html>
<html>
  <style>
    p{
      text-align:left;
    }
    #sub1{
      width:200px;
      height:200px;
      margin:20 auto;
      text-align: center;
      position: fixed;
      top:70px;
      left:45%;
    }
    td{
      text-align:center;
    }
  </style>

    <head><title>Lottery Online</title></head>
    <body style="text-align:center">
      <h1>抽奖结果</h1>
        <table border="1" cellpadding="4" cellspacing="0" style="border-style:solid;margin:auto;">
          <tr>
            <td>一等奖</td>
            <td>
              {% for name in first %} 
              &nbsp{{name}}&nbsp
              {% end %}
            </td>
          </tr>
          <tr>
            <td>二等奖</td>
            <td>
             {% for name in second %} 
             &nbsp{{name}}&nbsp
             {% end %}
            </td>
          </tr>
          <tr>
            <td>三等奖</td>
             <td>
             {% for name in third %} 
             &nbsp{{name}}&nbsp
             {% end %}
            </td>           
          </tr>
        </table>
        <br>
        <input type="button" value="再来一次" action='lottery'>
        <input type="button" value="返回" onclick="location.href=('/')" />
    </body>
</html>
